Atom
bspwm
dconf
enchant
eog
evince
evolution
gedit
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-3.0
htop
ibus
matplotlib
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
procps
pulse
Rygel
rygel.conf
sxhkd
torbrowser
update-notifier
user-dirs.dirs
user-dirs.locale
yelp

nvim/plugged
